h1 {
    text-align: center;
    font-size: 64px;
}

.links {
    font-size: 32px;
}

body {
    background-color: rgb(194, 194, 194);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
    height: auto;
    width: 300px;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }